<!doctype html>
<html>
    <head>
        <meta charset="utf8"/>
        <title>Interaction Engine - Hello You!</title>
<script src="static/socket.io.js">
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
<!--        <script src="/socket.io/socket.io.js"></script>-->
        <script src="static/client.js"></script>
    </head>
    <body>
        <body bgcolor="#000">
        <button onclick="redLedON()">red LED ON</button>

        <button onclick="greenLedON()">green LED ON</button>

	<button onclick="blueLedON()">blue LED ON</button>
    </body>
</html>
